PORT=4000
SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
ENABLE_AUTH_MIDDLEWARE=false
ADMIN_USER=admin
ADMIN_PASS=12345
ADMIN_JWT_SECRET=ducksite-admin-secret
ADMIN_SETUP_KEY=ducksite-admin-setup
